<!DOCTYPE html>
		<html>
			<head>
				<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
				<link rel="stylesheet" type="text/css" href="/css/main.css">
				<link rel="grayscale" type="text/css" href="/css/grayscale.css">
				<!-- Global Site Tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107210718-1"></script>
				<script>
	 			window.dataLayer = window.dataLayer || [];
	  			function gtag(){dataLayer.push(arguments)};
	  			gtag('js', new Date());
				gtag('config', 'UA-107210718-1');
				</script>
	

			</head>
			<body>
				<nav>
		    		<ul>
		        		<li><a href="/">Home</a></li>
			        	<li><a href="/about">About</a></li>
		        		<li><a href="/mealprep">Meal Prep Sunday</a></li>
		        		<li><a href="/personalfinance">Personal Finance</a></li>
		    		</ul>
				</nav>
				<div class="container">
				
				{{ content }}
				
				</div><!-- /.container -->
				<!-- 
				<footer>
		    		<ul>
		        		<li><a href="mailto:flippenemily@gmail.com">Click Here to Send Me an Email</a></li>
		        		<li><a href="https://github.com/underwriteyourlife">Click Here to Check Out My GitHub</a></li>
					</ul>
				</footer> -->
			</body>
			<footer>
			<ul>
					<li><a href="mailto:flippenemily@gmail.com">Click Here to Send Me an Email</a></li>
		        		<li><a href="https://github.com/underwriteyourlife">Click Here to Check Out My GitHub</a></li>
					</ul>
			</footer>
				
		</html>
